* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Inter" , sans-serif;
}
#hero {
    background-image: url(../images/thailand.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom right;
    display: flex;
    align-items: center;
}
#hero h1 {
    background-color: #eca63ddd;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    font-size: 45px;
}
#hero p {
    margin: 10px 0px 20px;
}
.hero content{
    color: orange;
}

#hero .container {
    color: blanchedalmond;
}
#hero .btn{
    display: inline-block;
    border: 2px solid rgb(230, 182, 123);
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}
#header {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    border: 5px solid  rgb(213, 136, 35);
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    color: rgb(255, 253, 251);
}
.nav {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 25px;
    border: 2px solid rgb(79, 49, 8)
}
.nav a {
    color: rgb(155, 96, 8);
    padding: 10px 0px;
    text-decoration: none;
    transition: background-color 0.5s;
}
.nav-container {
    color: blanchedalmond;
}
.nav a:hover {
    background-color: rgb(213, 136, 35);
}
#hero-2 {
    background-image: url(../images/thiland2.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right:5vw;
    color: blanchedalmond;
}
#hero-2 h4{
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: aquamarine;
}
#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(47, 100, 12);
    color: blanchedalmond;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}
#hero-3 {
    background-image: url(../images/thailand3.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center ;
   position: relative;
}
#hero {
    background-size: cover;
    height: 100vh;
    background-position: bottom right;
    display: flex;
    align-items: center;

}
#hero-3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: silver;

}
#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: orange;
}
#hero-3 a{
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(82, 21, 21);
    color: goldenrod;
    text-decoration: none;
    padding: 24px;
    margin:  5vh 5vw 10vh 0px;
}
