* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: linear-gradient(to bottom, green, #3e6d3e);
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: orange;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 24px;
}

#navbar-top #logo img {
    width: 150px;
}

#navbar-top .cta-buttom {
    background-color: orange;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, brown, rgb(73, 23, 23));
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}
h3 {
    color: blanchedalmond;
}
#navbar-bottom a {
    text-decoration: none;
    color: orange;
    padding: 12px 0px;
}
#hero-2 {
    background-color:rgb(18, 154, 18);
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#layout {
    max-width: 800px;
    margin: 40px auto;
    
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    border: 10px solid orange;
    padding: 35px;
    grid-auto-rows: 150px;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#hero-2 .btn{
    display: inline-block;
    border: 2px solid brown;
    padding: 15px 55px;
    background-color: brown;
    text-align: center;
    text-decoration: none;
    color: rgb(5, 198, 5);
    margin: 15px;
}

