/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.block {
    margin: 8px;
    display: inline-block;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.post-it1 {
    background-color: rgb(226, 13, 144);
    height: 150px;
    box-shadow: 16px 16px 8px rgb(242, 137, 226);
    border-radius: 10px 6px 0px;
    margin: 8px;
    width: 200px;
}
.post-it2 {
    background-color: rgb(73, 183, 177);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(73, 234, 223);
    border-radius: 10px 6px 10px;
    margin: 8px;
}
.post-it3 {
    background-color: green;
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px darkgreen;
    border-radius: 10px 6px 0px;
    margin: 8px;
}
.post-it4 {
    background-color: rgb(225, 225, 32);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(222, 234, 118);
    border-radius: 10px 6px 0px;
    margin: 8px;
}
.row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
} 
.post-it {
    background-color: rgb(117, 24, 179);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(141, 109, 155);
    border-radius: 10px 6px 0px;
    margin: 8px; 
}
.post-it-a {
    background-color: rgb(231, 46, 61);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(90, 0, 0);
    border-radius: 10px 6px 0px;
    margin: 8px;

}
.post-it-b {
    background-color: rgb(201, 84, 11);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(206, 117, 39);
    border-radius: 10px 6px 0px;
    margin: 8px;
}
.post-it-c {
    background-color: rgb(128, 0, 90);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(211, 51, 123);
    border-radius: 10px 6px 0px;
    margin: 8px;
}
.post-it-d {
    background-color: rgb(0, 115, 128);
    height: 150px;
    width: 200px;
    box-shadow: 16px 16px 8px rgb(27, 145, 154);
    border-radius: 10px 6px 0px;
    margin: 8px;
}