* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightgray;
}
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none; 
    color: rgb(249, 169, 182);
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
#navbar #logo img {
    width: 150px;
}
#navbar a:hover {
    background: linear-gradient(to top, #bed50c, #3e6d3e);
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    background-color: rgb(114, 114, 114);
    width: 100%;
    min-width: 200px;
}
#navbar .dropdown-menu a:hover {
    background: rgb(249, 169, 182);
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#main-section {
    background: 
        radial-gradient(at top left, rgb(212, 212, 212), #bed50c);
    padding: 48px;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 45px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 34px;
}
.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(249, 169, 182);
    color: rgb(103, 160, 33);
    padding: 24px 48px;
    border-radius: 45px;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}
#hero {
    background-image: url(../images/mushroom-wrap.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom right;
    display: flex;
    align-items: center;
}
#hero h1 {
    background-color: #c7d10add;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    font-size: 45px;
}
#hero p {
    margin: 10px 0px 20px;
}
.hero content{
    color: rgb(49, 160, 24);
}

#hero .container {
    color: radial-gradient(at top left, rgb(212, 212, 212), #bed50c); 
}
#hero .btn{
    display: inline-block;
    border: 2px solid rgb(25, 95, 27);
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    color: grey;
    background-color: rgb(244, 148, 164);
}
#header {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    border: 5px solid  rgb(213, 136, 35);
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    background-color: radial-gradient(at top left, rgb(212, 212, 212), #bed50c) ;
}
.item {
   grid-column-start: 1; 
   grid-column-end: 3;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    color: rgb(84, 54, 84);
}
.a-tags {
    color: #c7d10add;
}
.a {
    color: black;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#card-section {
    background-color: #c7d10add;
    color: rgb(70, 70, 70);
    padding: 48px;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid ;
    padding: 36px;
    text-align: center;
    margin: 36px;
}
.card h3 {
    font-size: 36px;
    margin: 0px;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
#footer {
    background: linear-gradient(to bottom, green,#3e6d3e);
    color: lightgreen;
    padding: 12px;
}
#footer a {
    text-decoration: none;
    color:rgb(249, 169, 182);
}
#footer-navbar {
    width: 850px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar {
    width: 850px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}
@media scree and (max-width:
500px) {
    body {
    background-color: rgb(203, 239, 195);
    }
}