/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    width: 700px;
    height: 375px;
    border: 2px soild-block;
    border-radius: 24px;
    padding: 8px 18px;
    background-color: lightgrey;
}
#img {
    display: flex;
    size-adjust: 50%;
}
#content {
    border:1px black soild;
}
.column3 {
    align-content: normal;
    display: flex;
}
.data-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
h1 {
    color: navy;
    font-weight: bolder;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
h4 {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    background-color: navy;
    color: white;
    padding: 8px 75px;
}
#id-and-expiration span{
    color: red;
}
#id-and-expiration span{
    font-weight: bolder;
}
#id-and-expiration div{
    color: blue;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#address{
    font-weight: bolder;
    padding: 15px;
    text-align: left;
}
#small-pic{
    display:inline-block;
}