.threeColumnGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "thumbnail mainproduct productdecrption" 
    ;
}
.thumbnail {
    grid-area: thumbnail;
}
.mainproduct {

    grid-area: mainproduct;
}
.productdescreiption {
    grid-area: productdecription;
}

.body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

} 

.flex-container {
    display: flex;
}
.flex-items {
    display:block;
    margin-top: 100px;
}
.logo {
    color: darkorange;

}
button:hover {
    background-color: darkorange;
}