* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar,
#footer {
    background-color: #9f0d0d;
}
#navbar a,
#footer a {
    color: #fbe888;
    text-decoration: none;
    display: inline-block;
    padding: 12px 12px 12px 0px;
}
#navbar-column,
.center-column,
#footer-column {
    width: 500px;
    margin: 0px auto;
}
.light-container {
    background-color: #fbe888;
    padding: 36px 0px;
}
.dark-container {
    background-color: rgb(55, 144, 55);
    color: #fbe888;
    padding: 36px 0px;
}
.side-by-side {
    display: inline-block;
    width: 49%;
}

.side-by-side img {
    padding-left: 36px;
    width: 100%;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: rgb(52, 153, 52);
    color: black;
    border: 2px solid gold;
}
.button1:hover {
    background-color: rgb(52, 153, 52);
    color: white;
}
.button2 {
    background-color: rgb(52, 153, 52);
    color: black;
    border: 2px soild gold;
}
.button:hover {
    background-color:rgb(52, 153, 52) ;
    color: gold;
}