* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(241, 226, 255);
}

#flexbox {
    display: flex;
    
}

#sidebar {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar h2 {
    background-color: darkviolet;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}

#sidebar ul {
    background-color: #efefef;
    border: 1px solid turquoise;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar a {
    color: turquoise;
    text-decoration: none;
}

#sidebar li {
    border-bottom: 1px solid turquoise;
    padding:  8px 0px;
}

#sidebar li:last-child{
    border-bottom:  0px;
}

#main {
    grid-area: content;
    margin: 0px 36px;
    
}

