/* Drill 1 - Write your code solution below */
#contanier-d1 {
    display: grind;
    grid-template-columns: 1fr , 50%, 1fr;

}

/* Drill 2 - Write your code solution below */
#contanier-d2 {
    display:grid;
    grid-template-columns: 1fr, 2fr , 1fr;

}

/* Drill 3 - Write your code solution below */
#container-d3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "one two three"
}

/* Drill 4 - Write your code solution below */
#containwe-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "cat dog mouse"
    ;

}
#d4-cell{

}
/* Drill 5 - Write your code solution below */


/* Drill 6 - Write your code solution below */

